.product_single {
  padding-top: 64px;
  padding-bottom: 72px;
  .intro_products {
    margin-bottom: 63px;
    padding-bottom: 44px;
    border-bottom: solid 1px #d6d6d6;
    text-align: center;

    img {
      width: 497px;
      height: 497px;
      object-fit: contain;

      @include mq(800) {
        width: 100%;
        max-height: 497px;
        height: fit-content;
      }
    }
    h4 {
      font-size: 24px;
      font-weight: 500;
      color: #000;
    }
  }
  .comments {
    margin-bottom: -63px;
  }
}
